box:
  name:    geerlingguy/ubuntu1604
  ip:      192.168.56.101
  share:
    host:  .
    guest: /opt/share
    nfs:   true  # set to false on windows host

hostname: symfony.box
playbook: site.yml

app:
  web_dir:          symfony/web
  front_controller: app_dev.php
  php_timezone:     Europe/Berlin
