<VirtualHost *:80>
    ServerName {{ hostname }}
    ServerAlias www.{{ hostname }}
    DocumentRoot {{ document_root }}

    RewriteEngine on
    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ %{DOCUMENT_ROOT}/{{ app.front_controller }} [QSA,L]

    <Directory {{ document_root }}>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride All
        Order allow,deny
        Allow from all
        Require all granted
    </Directory>
</VirtualHost>
